@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Regular.ttf') format('truetype');
}


:root {
    --mainBgColor: #F5FDFF;
    --btnColor: #3a10e5;
}


body {
    margin: 0;
    background-color: var(--mainBgColor);
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 7vh;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
}

header {
    list-style-type: none;
}

header li {
    display: inline-block;
}

button {
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0;
}

#trialBtn {
    color: var(--mainBgColor);
    background-color: var(--btnColor);
    padding: 11px 16px;
    border-radius: 4px;
    font-weight: 700;
}

.header-wrapper {
    width: 75%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    font: 600;
    /* border-style: solid; */
}

.logoWrapper img {
    margin-top: 10%;
}

.blinkingImg {
    -webkit-filter: brightness(0%);
}

.profileWrapper img {
    border-radius: 50%;
}

.header-item {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}


.left-header-item {
    float: left;
}

.right-header-wrapper {
    float: right;
}

.right-header-wrapper button {
    display: inline-block;
    padding: 3px;
    padding-bottom: 1px;
    margin-left: 3px;
    z-index: 1;
}

button:hover {
    color: var(--btnColor);
}

.blinkingBg:hover {
    transition: 0.2s;
    background-color: whitesmoke;
}

/* 
.blinkingBg:hover .blinkingImg,
.blinkingImg:hover {
    -webkit-filter: brightness(180%) contrast(1000%);
} */

#logoFullImg:hover {
    -webkit-filter: brightness(500%) contrast(500%);
}

#searchImg:hover,
#notifyImg:hover {
    -webkit-filter: brightness(300%) contrast(500%);
}