.donation {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
}

.donation__content-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
    row-gap: clamp(42px, 10.5vw, 60px);
    column-gap: 30px;
}

.donation__content-image {
    width: clamp(260px, 66vw, 505px);
}

.donation__content {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 20px;
}

.donation__content-header {
    max-width: 80%;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    margin: 0;

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-dark-l */
    color: #545454;
}

.donation__content-subheading {

    width: fit-content;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    margin: 0;

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
}

.donation__content-description {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    /* max-height: clamp(280px, , 380px); */

    display: flex;
    align-items: center;

    /* color-dark-m */

    color: #B2B2B2;
}

.donation__credit-card {
    display: flex;
    column-gap: 15px;
    justify-content: flex-start;
    padding: 10px 15px;
    width: fit-content;
    border: none;
    /* color-primary */

    background-color: #F1CDB3;
    border-radius: 9px;

    pointer-events: auto;
    cursor: pointer;
}

.donation__credit-card:hover {
    background-color: #FDDCC4;
}

.donation__credit-card-number {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
}


@media screen and (max-width: 768px) {
    .donation__content-header {
        font-size: clamp(25px, 4.6vw, 35px);
    }

    .donation__credit-card-number {
        font-size: clamp(15px, 3.5vw, 20px);

    }
}

@media screen and (max-width: 320px) {
    .donation__content-header {
        align-self: center;
        text-align: center;
    }

    .donation__content-description {
        text-align: justify;
    }

    .donation__content-subheading {
        line-height: 160%;
        letter-spacing: 0;
    }

    .donation__credit-card {}

    .donation__credit-card-number {
        line-height: 110%;
    }

    .donation__content {
        align-items: center;
    }
}