.help {
    background-color: #FFFFFF;
}

.help__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: clamp(42px, 8vw, 60px);
}

.help__content-header {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    margin: 0;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
}

.help__help-list {
    margin: 0;
    padding: 0;
    padding-inline-start: 0px;
    row-gap: clamp(30px, 7.2vw, 55px);
    column-gap: clamp(30px, 9.3vw, 119px);

    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.help__topic {
    height: 113px;
    /* width: fit-content; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.help__topic-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
}

.help__topic-avatar {
    max-height: clamp(50px, 7.9vw, 60px);
    max-width: clamp(50px, 7.9vw, 60px);
}

@media screen and (max-width: 1000px) {}

@media screen and (max-width: 768px) {
    .help__help-list {
        column-gap: 0px;
        justify-content: space-between;
    }

    .help__topic {
        width: clamp(130px, 22.2vw, 170px);
        height: clamp(87px, 27vw, 113px);
    }

    .help__topic-title {
        font-size: clamp(15px, 3vw, 20px);
    }

    .help__content-header {
        font-size: clamp(25px, 4.6vw, 35px);
    }
}