@import url('../common.blocks/pets-list.css');

.pets {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pets__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: clamp(42px, 7.9vw, 60px);
}

.pets__header {
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(25px, 4.6vw, 35px);
    line-height: 130%;
    margin: 0;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.pets__button-know-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    gap: 10px;

    background-color: #F1CDB3;
    border-radius: 100px;
    border: 0px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: #292929;

    /* events */

    pointer-events: auto;
    cursor: pointer;
}

.pets__button-know-more:hover {
    background-color: #FDDCC4;
}

.pets__pets-list {
    height: auto;
    width: 100%;
}