.about {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
}


.about__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap-reverse;
    column-gap: 120px;
    row-gap: clamp(42px, 11vw, 80px);
}

.about__content {
    max-width: 430px;
    flex: 1 1 300px;
    display: inline-flex;
    flex-direction: column;
    align-content: space-between;
    row-gap: 25px;
}

.about__content-header {
    max-width: 80%;
    margin: 0;
    color: #545454;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(25px, 7vw, 35px);
    line-height: 130%;

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
}

.about__content-description {
    margin: 0;
    color: #4C4C4C;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;

    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .about__pets-img {
        width: clamp(260px, 79vw, 300px)
    }
}

@media screen and (max-width: 320px) {
    .about__content {
        align-items: center;
    }

    .about__content-header {
        text-align: center;
    }

    .about__content-description {
        text-align: justify;
    }
}