.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.logo__title {
    margin: 0;
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.logo__slogan {
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
}

.logo_bg_white .logo__title {
    color: #545454;
}

.logo_bg_white .logo__slogan {
    color: #292929;
}