.nav {
    height: fit-content;
    display: inline-flex;
    /* transition: 0.3s; */
    transition: none;
}

.nav__item-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* gap: clamp(5px, 4vw, 36px); */
    gap: 36px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav__item {
    flex-shrink: 0;
}

.nav__item-link {
    width: 100%;
    height: 100%;
    font-family: Arial;
    font-style: normal;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    /* padding-bottom: 2px; */
}

.nav__burger-menu {
    inline-size: 30px;
    block-size: 22px;
    margin-block-end: 4px;
    margin-block-start: 4px;
    overflow: hidden;
    display: none;
}

.nav__burger-menu-top-lines {
    box-sizing: border-box;
    height: 100%;
    border-top: 2px solid #F1CDB3;
    border-bottom: 1px solid #F1CDB3;
}

.nav__burger-menu-bottom-lines {
    box-sizing: border-box;
    height: 100%;
    border-top: 1px solid #F1CDB3;
    border-bottom: 2px solid #F1CDB3;
}

.nav__item-link:hover {
    color: #FAFAFA;
}

.nav_side-viewed {
    box-sizing: border-box;
    height: 100%;
    /* width: 320px; */
    width: 0px;
    /* padding: 45px 20px; */
    padding: 45px 0;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: #292929;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    overflow: hidden;
    overflow-y: hidden;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, .50);
}

.nav__burger-menu_selected {
    transform: rotate(90deg);
}

.nav__item-link_selected {
    padding-bottom: 3px;
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    pointer-events: none;
}

.nav_bg_white .nav__item-link {
    color: #545454
}

.nav_bg_white .nav__item-link:hover {
    color: #292929
}

.nav_bg_white .nav__item_selected {
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
    pointer-events: none;
}

.nav_bg_white .nav__burger-menu-top-lines,
.nav_bg_white .nav__burger-menu-bottom-lines {
    border-color: #000000;
}

.nav_side-viewed .nav__item-wrapper {
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 40px;
}

.nav_side-viewed .nav__item-link {
    font-size: 32px;
    line-height: 160%;
}

.nav_side-viewed .nav__item-link_selected {
    padding-bottom: 6px;
}

.nav_side-viewed .nav__burger-menu {
    position: absolute;
    top: 45px;
    right: 22px;
    /* align-self: flex-end; */
}

.nav_bg_white.nav_side-viewed .nav__item-link {
    color: #CDCDCD;
}

.nav_bg_white.nav_side-viewed .nav__burger-menu-bottom-lines,
.nav_bg_white.nav_side-viewed .nav__burger-menu-top-lines {
    border-color: #CDCDCD;
}

.nav_bg_white.nav_side-viewed .nav__item_selected,
.nav_bg_white.nav_side-viewed .nav__item-link:hover {
    color: #FAFAFA;
}

@media screen and (max-width: 720px) {
    .nav__burger-menu {
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    .nav__item-wrapper {
        display: none;
    }
}