@import url('../common.blocks/pet-card.css');

.pets-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pets-list__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    column-gap: 40px;
    row-gap: 30px;
}

.pets-list__button-arrow {
    /* button_arrow */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 17px;

    /* color-primary */

    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: #F6F6F6;

    /* pointer events */
    pointer-events: auto;
    cursor: pointer;
}

.pets-list__button-arrow:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.pets-list__button-arrow_reversed {
    -webkit-transform: scaleX(-1);
}

.pets-list_slider .pets-list__wrapper {
    column-gap: clamp(40px, 7.1vw, 90px);
}

.pets-list_slider {
    flex-wrap: wrap;
    row-gap: 20px;
}

@media screen and (max-width: 1170px) {
    .pets-list_slider .pets-list__list-item:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .pets-list_slider .pets-list__list-item:nth-child(n + 2) {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    .pets-list_slider .pets-list__wrapper {
        column-gap: 40px;
    }
}

@media screen and (max-width: 404px) {
    .pets-list_slider {
        column-gap: 80px;
        justify-content: center;
    }

    .pets-list__button-arrow {
        order: 10;
    }
}