@import url('../common.blocks/header.css');
@import url('../common.blocks/not-only.css');

.start-screen {
    background-image: url('images/start-screen-background.jpg');
    background: url('../images/start-screen-gradient-background.png'),
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    background-size: cover;
    width: 100%;
    /* height: 908px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.start-screen__header {
    box-sizing: border-box;
    width: 100%;
    padding: 30px clamp(20px, 3.9vw, 40px) 0;
}

.start-screen__not-only {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: clamp(60px, 7.3vw, 90px) clamp(30px, 3.82vw, 40px) 0;
}

@media screen and (max-width: 320px) {
    .start-screen__not-only {
        padding: 60px 10px 0;
    }
}